{{- define "main" }}
{{- $artigos := (where site.RegularPages "Section" "articles").ByDate.Reverse }}
<div class="feed">
  <aside class="coluna-esquerda">
    {{ partial "li/perfil.html" . }}
  </aside>

  <div class="coluna-centro">
    {{ partial "li/newsletter.html" . }}
    {{- if $artigos }}
    <div class="feed-separador"><span>{{ i18n "artigos_recentes" }}</span></div>
    {{- range first 10 $artigos }}{{ partial "li/post.html" . }}{{ end }}
    {{- with site.GetPage "/articles" }}
    <a class="li-card feed-mais" href="{{ .RelPermalink }}">{{ i18n "ver_todos_os_artigos" }} <span aria-hidden="true">→</span></a>
    {{- end }}
    {{- else }}
    <section class="li-card vazio"><p>{{ i18n "sem_artigos" }}</p></section>
    {{- end }}
  </div>

  {{ partial "li/direita.html" . }}
</div>
{{- end }}
